In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib

In [2]:
df1 = pd.read_csv("C:\\Users\\Himanshu\\Downloads\\datasets_228_482_diabetes.csv")

In [3]:
df1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df1.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [5]:
df1.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [50]:
cal = df1[df1.Outcome==1]
n_count = df1[df1.Outcome==0]

In [52]:
len(n_count)

500

In [55]:
len(cal)

268

In [127]:
len(df1[df1.BloodPressure == 0])

35

In [149]:
mean_of_insulin = np.mean(df1['Insulin'])

In [150]:
def convert_missing(x):
    if x == 0:
        return(mean_of_insulin)
    try:
        return int(x)
    except:
        return None

In [152]:
df2 = df1.copy()
df2['Insulin'] = df1['Insulin'].apply(convert_missing)
df2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,79.799479,33.6,0.627,50,1
1,1,85,66,29,79.799479,26.6,0.351,31,0
2,8,183,64,0,79.799479,23.3,0.672,32,1
3,1,89,66,23,94.000000,28.1,0.167,21,0
4,0,137,40,35,168.000000,43.1,2.288,33,1

In [153]:
mean_of_skinthickness = np.mean(df1['SkinThickness'])

In [154]:
def convert_missing(x):
    if x == 0:
        return(mean_of_skinthickness)
    try:
        return int(x)
    except:
        return None

In [155]:
df2['SkinThickness'] = df2['SkinThickness'].apply(convert_missing)

In [156]:
mean_of_pregnancies = np.mean(df1['Pregnancies'])

In [157]:
def convert_missing(x):
    if x == 0:
        return(mean_of_pregnancies)
    try:
        return int(x)
    except:
        return None

In [160]:
df2['Pregnancies'] = df2['Pregnancies'].apply(convert_missing)

In [162]:
mean_of_bloodpressure = np.mean(df1['BloodPressure'])

In [163]:
def convert_missing(x):
    if x == 0:
        return(mean_of_bloodpressure)
    try:
        return int(x)
    except:
        return None

In [164]:
df2['BloodPressure'] = df2['BloodPressure'].apply(convert_missing)

In [165]:
df2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,35.000000,79.799479,33.6,0.627,50,1
1,1,85,66.0,29.000000,79.799479,26.6,0.351,31,0
2,8,183,64.0,20.536458,79.799479,23.3,0.672,32,1
3,1,89,66.0,23.000000,94.000000,28.1,0.167,21,0
4,3,137,40.0,35.000000,168.000000,43.1,2.288,33,1

In [170]:
y = df2.Outcome
x = df2.drop('Outcome', axis = 'columns')

In [179]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2)

In [180]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.26081241990212745

In [181]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
cross_val_score(LinearRegression(), x, y, cv=cv)

array([0.31269549, 0.30466543, 0.27876494, 0.29316042, 0.27348239])

In [192]:
from sklearn.ensemble import RandomForestClassifier
random_forest_model = RandomForestClassifier(random_state = 25)

random_forest_model.fit(x_train, y_train)
random_forest_model.score(x_test, y_test)

0.7922077922077922

In [195]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv = ShuffleSplit(n_splits=10, test_size=0.2, random_state=0)
score = cross_val_score(RandomForestClassifier(), x, y, cv=cv)

In [196]:
score.mean()

0.7688311688311688